body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 20px;
}

input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
}

button {
    background: #00bfff;
    color: white;
    font-weight: bold;
}

/* CHATBOT */

.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #00bfff;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}

.chatbot-window {
    width: 280px;
    height: 380px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: #222;
    border-radius: 10px;
    display: none;
    flex-direction: column;
}

.chat-header {
    background: #00bfff;
    padding: 10px;
    font-weight: bold;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    text-align: left;
}

.chat-input-container {
    display: flex;
}

.chat-input-container input {
    flex: 1;
}

.chat-message {
    background: #333;
    padding: 6px;
    margin: 4px 0;
    border-radius: 6px;
}

.bot {
    background: #005f7f;
}
